body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    margin-top: -16px;

}

.button1 {
    text-align: center;
    margin: 500px 500px 40px 900px;
    padding: 30px;
    background-color: aquamarine;
    font-size: 40px;
    width: 500px;
    height: 100px;
    border-radius: 45%;
}
button {
    font-size: 30px;
}
.nav-center {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
nav {
    text-align: center;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    
}
h4 {
    font-size: 30px;
}
li {
    margin-top: 40px;
}
li:first-of-type {

    position: relative;
    left: 500px;
}
li:last-of-type {
    margin-right: 50px;
}