@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.nav-center {
  background-color: rgb(126, 147, 151);
}
.nav-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: rgb(94, 81, 242);
  cursor: pointer;
z-index: 2;
}
.nav-toggle:hover{
  transform: rotate(90deg);
}

.icon {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -40px;

}

.links li:first-of-type:hover {
  background-color: rgb(67, 42, 165);
}

.links,
.social-icons {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding-left: 140px;
  font-size: 30px;
  margin: 0;
  letter-spacing: 3px;
  padding-top: 15px;
  

}
.show-links {
  height: 10rem;
}
.social-icons a{
  color: rgb(16, 20, 135);
}
li {
  height: 50px;
}
.links a {
  color: black;
}

a {
  text-decoration: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  
 
}
.show-links {
  height: 10rem;
  z-index: 3;
}

@media(max-width:1360px) and (min-width:320px){

  .icon{
    justify-content: flex-start;
  }
  .links {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-left: 20px
  }
  .social-icons{
    padding-right: 10px;
    /* padding-left: 10px; */
  }
}