@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
    background: url(./hero.jpeg) no-repeat center center fixed;
    /* opacity: 30%; */

    background-size: cover;
    overflow: hidden;
    display: grid;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;


}

/* body::after{
    background: #7bcbed;
    content: "";
    height: 100%;
    opacity: .65;
    position: absolute;
    top: 0;
    transition: all .25s ease;
    width: 100%;z-index: -1;
} */

.container {
    text-align: center;
    background-color: white;
    width: 620px;
    height: 183px;
    padding: 64px 0px 64px 0px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 620px;
}

.header {
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    letter-spacing: 10px;
    width: 620px;
    height: 64px;
    margin: 42px 0px 12px;
}

.btn {
    width: 200px;
    height: 62px;
    margin: 32px 0px 0px;
    font-size: 24px;
    border-radius: 30px;
    padding: 6px 12px;
    background-color: #49a6e9;
    border-color: #49a6e9;
    color: white;
    cursor: pointer;
    letter-spacing: 0.25rem;
    z-index: 10;
}

.modal-content {
    position: fixed;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 30vh;
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
    border-radius: 3%;

}

.close-btn {
    color: red;
    border: none;
    background: none;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}

.modal-open {
    z-index: 10;
    visibility: visible;
}

@media screen and (min-width:676px) {
    .modal-content {
        width: 660px;
    }
}